<a href="https://colab.research.google.com/github/ClaudiaGonzalezScanu/aprendiendo_python/blob/main/Clase_Miercoles10_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
A = []
i = 0
while(i <20):
    A.append(np.random.randint(1,10))
    i += 1
print(A)

[9, 9, 3, 8, 7, 4, 8, 2, 2, 3, 5, 2, 1, 3, 7, 3, 2, 4, 1, 8]

In [ ]:
for num in A:
  print(num)

9
9
3
8
7
4
8
2
2
3
5
2
1
3
7
3
2
4
1
8

In [ ]:
for letra in "Hola Mundo":
  print(letra)

H
o
l
a

M
u
n
d
o

In [ ]:
A = []
i = 0
while True:
    nombre=input("Ingrese nombre: ")
    A.append(nombre)
    resp=input("Desea continuar [s/n]?")
    if resp=="n":
      break
    i += 1
A

Ingrese nombre: Marta
Desea continuar [s/n]?s
Ingrese nombre: Katherina
Desea continuar [s/n]?s
Ingrese nombre: Eugenia
Desea continuar [s/n]?s
Ingrese nombre: Ivanna
Desea continuar [s/n]?s
Ingrese nombre: Carla
Desea continuar [s/n]?n

['Marta', 'Katherina', 'Eugenia', 'Ivanna', 'Carla']

In [ ]:
for nombre in A:
  print(nombre)

Marta
Katherina
Eugenia
Ivanna
Carla

In [ ]:
A.append("Priscilla")
A

['Marta', 'Katherina', 'Eugenia', 'Ivanna', 'Carla', 'Priscilla', 'Priscilla']

In [ ]:
A.append("Carla")

In [ ]:
A[1]

'Katherina'

In [ ]:
nombre=input("Ingrese nombre a buscar:")
pos=0
for name in A:
  if name==nombre:
    print(nombre,"se encuentra en el listado!, en la posición",pos)
  pos +=1

Ingrese nombre a buscar:Carla
Carla se encuentra en el listado!, en la posición 4
Carla se encuentra en el listado!, en la posición 7

In [ ]:
names=[]
phones=[]
i = 0
while True:
    nombre=input("Ingrese nombre: ")
    names.append(nombre)
    fono=input("Ingrese nombre: ")
    phones.append(fono)
    resp=input("Desea continuar [s/n]?")
    if resp=="n":
      break
    i += 1
print(names,phones)

Ingrese nombre: juan
Ingrese nombre: 123456
Desea continuar [s/n]?s
Ingrese nombre: maria
Ingrese nombre: 76543
Desea continuar [s/n]?s
Ingrese nombre: lis
Ingrese nombre: 654432
Desea continuar [s/n]?n
['juan', 'maria', 'lis'] ['123456', '76543', '654432']

In [ ]:
i=0
while i<len(names):
  print(i,names[i],phones[i])
  i += 1

0 juan 123456
1 maria 76543
2 lis 654432

Ejercicio 3

In [ ]:
names=["Juan","Maite","Antonio","Paola","Rosa"]
for nombre in names:
  if nombre=="Antonio": 
    continue
  print("Hello",nombre)
print("Done!")

Hello Juan
Hello Maite
Hello Paola
Hello Rosa
Done!

In [ ]:
names=["Juan","Maite","Antonio","Paola","Rosa"]
for nombre in names:
  if nombre=="Antonio": 
    continue
  print("Hello",nombre)
  if nombre=="Paola":
    break
print("Done!")

Hello Juan
Hello Maite
Hello Paola
Done!

Ejercicio 4

In [ ]:
while True:
  numero=int(input("Ingrese numero: "))
  if numero == 0:
    break
  print(numero)

Ingrese numero: 3
3
Ingrese numero: 4
4
Ingrese numero: 6
6
Ingrese numero: 7
7
Ingrese numero: 100
100
Ingrese numero: 0

Ejercicio 5

In [ ]:
gasto=int(input("Ingrese gasto: "))
if gasto<10000:
  print("Pago en EFECTIVO!")
else:
  if gasto>=10000 and gasto<30000:
    print("Pago con Tarjeta de debito")
  else:
    print("Pago con TC")

Ingrese gasto: 50000
Pago con TC

In [ ]:
gasto=int(input("Ingrese gasto: "))
if gasto<10000:
  print("Pago en EFECTIVO!")
if gasto>=10000 and gasto<30000:
    print("Pago con Tarjeta de debito")
if gasto>=30000:
    print("Pago con TC")

Ingrese gasto: 50000
Pago con TC