<a href="https://colab.research.google.com/github/ClaudiaGonzalezScanu/aprendiendo_python/blob/main/Clase_miercoles_01_12_21_Funciones2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**LOS MÉTODOS APPLY() Y TRANSFORM()**

Ambos métodos, **apply()** y **transform()**, pueden operar en columnas individuales y en todo el DataFrame. 
El método **apply()** aplica la función a lo largo de un eje especificado, pasando las columnas como un DataFrame a la función personalizada.
Por su parte, el método **transform()** pasa las columnas individuales como PANDAS Series a la función personalizada.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame([[1,2,3], 
                   [4,5,6], 
                   [7,8,9]], 
                  columns=['A','B','C'])
print (df)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
def suma_2(num):
  return num+2

Aplicar una función a TODOS los datos de un DataFrame usando el método apply():

In [ ]:
df = df.apply(suma_2)
print(df)

   A   B   C
0  3   4   5
1  6   7   8
2  9  10  11

Aplicar una función a TODOS los datos de un DataFrame usando el método transform():

In [ ]:
df = df.transform(suma_2)
print(df)

    A   B   C
0   5   6   7
1   8   9  10
2  11  12  13

 Aplicar una función  a lo largo de una sola columna del DataFrame, usando el método apply():

In [ ]:
df['A'] = df['A'].apply(suma_2)
print (df)

    A   B   C
0   7   6   7
1  10   9  10
2  13  12  13

Aplicar una función a lo largo de una sola columna del DataFrame, usando el método transform():

In [ ]:
df['A']=df['A'].transform(suma_2)
print (df)

    A   B   C
0   9   6   7
1  12   9  10
2  15  12  13

Por ejemplo, consideremos el siguiente DataFrame con las ventas de los productos A, B, C y D a lo largo de los meses de enero, febrero y marzo:

In [ ]:
ventas=pd.DataFrame({"A":[3,3,1],
                     "B":[1,5,2],
                     "C":[3,7,2],
                     "D":[7,2,3]},
                     index=["Ene","Feb","Mar"])
ventas

     A  B  C  D
Ene  3  1  3  7
Feb  3  5  7  2
Mar  1  2  2  3

Podríamos estar interesados en calcular el rango en el que se mueven las ventas, es decir, la diferencia entre el mayor y el menor valor de ventas.

Sabiendo que dicho rango se va a aplicar a una fila o a una columna -es decir, a una serie-, definimos la siguiente función:

In [ ]:
def rango(s):
  return max(s)-min(s)

Ahora podemos aplicar esta función a nuestro DataFrame de ventas. Por defecto se va a aplicar al eje 0 (eje vertical), es decir, se va a aplicar a las columnas del DataFrame:

In [ ]:
ventas.apply(rango)

A    2
B    4
C    5
D    5
dtype: int64

Si nos fijamos en la columna A, el valor máximo es 3 y el mínimo es 1, de forma que su diferencia es 2, tal y como se muestra en el resultado del método apply, y así para TODAS laas columnas.

Si aplicamos el método a lo largo del eje 1 (eje horizontal), obtendremos la diferencia entre el mayor y el menor valor de cada una de las filas del DataFrame:

In [ ]:
ventas.apply(rango,axis=1)

Ene    6
Feb    5
Mar    2
dtype: int64