<a href="https://colab.research.google.com/github/ClaudiaGonzalezScanu/aprendiendo_python/blob/main/Ejercicios_23_11_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Repaso desde Hola Mundo

In [ ]:
print("¡Hola Mundo!")

¡Hola Mundo!

Variables: es un nombre que se agigna un valor en el programa, es un espacio en memoria, se alojará o guardará un valor específico. Luego podremos llamar a la variable y usar el o los valores que guardamos en ese nombre. ej. num = 5, el nombre de la variables es num, y ese nombre se usará para usar el valor 5. 
Primero se define la variable dando el nombre, en este caso num

In [ ]:
num = 3
num             #se comprueba qe el valor existe en memoria, se escribe num el nombre de la variable y nos retorna el valor de la variable

3

In [ ]:
 num+2         # nombramos la variable y sumamos 2, nos retorna la suma el valor 3+2=5

5

In [ ]:
num =15          #ahora cambiamos el valor de num, modificamos a valor 15
num

15

In [ ]:
num-5             # a num restamos 5 nos retorna el resultado 15-5=10

10

El nombre de la variables no pueden comenzar con un número, nos mostrará error de sintaxis "SyntaxError", las variables sólo pueden contener caracteres alfanuméricos de (A-Z, a-z, 0-9, _), no puede contener otro caracter.Se distingue entre mayuscula y monuscula, por lo tanto, al llamar una variable, se debe hacer de la mismo forma como fue definida.

Tipos de Datos
numéricos /entero, no posee decimales, positivos, negativos y 0
La función type() nos dirá que tipo de valor es.
Int es Integer=entero
decimales, al usar type() nos dira Float=Flotante float es decimal, cualquier valor que usa ,
valores booleanos True=vardadero o False=falso los valores booleanos son importantes para ciclos o Bucles
True False son Key words palabras clave
class bool

Cadenas de caracteres o String, son una secuencia de caracteres encerrados entre "" y usados para representar texto en el programa.
Ej. "Hola Mundo" es una cadena de caracteres.
    "Python" las "" pueden ser comillas simples, al psar type nos mostrara class str, la abreviación de string

In [ ]:
nombre ="Claudia"
type(nombre)

str

Tamaño o Length, la función len() nos retornrá el valor de su tamaño

In [ ]:
len(nombre) # nos entregará la longitud de la cadena nombre=Claudia, tiene 7 caracteres.

7

Indice, en una cadena se comiena a numerar desde 0,1,2....ej."Python" comienza P=0, y=1,t=2,h=3,o=4,n=5 Python tiene indice de 0 a 5

Indexacion nombre de la cadena[]

In [ ]:
palabra = "Python"
palabra[0]             #llamamos al indice 0 nos devuelve el primer caracter de la cadena

'P'

In [ ]:
palabra[1] #llamamos al indice 1 nos devuelve y

'y'

In [ ]:
palabra[6]  #nos muestra error ya que no existe el indice 6 en la palabra Python

IndexError: ignored

Rebanado en ingles Slicing, vamos a tomar una porción de la cadena de caracteres, ej. "Python" «cadena»[inicio:fin] el último caracter no estará incluido en el caracter incluido, se detiene un indice anterior.

In [ ]:
palabra[1:4]   # solicitamos los indices 1 a 3 de palabra "Python" nos devuelve 1=y,2=t,3=h

'yth'

el rebanado siembre va entre [], al no escribir el valor al inicio o al fin, toma los caracteres ya sea desde el inicio o el final, dependiendo cual falta

In [ ]:
palabra[:3]  #rebanado omitiendo el indice inicio

'Pyt'

Rebanado con paso, «cadena»[inicio:fin:paso] con paso podemos saltar algunos caracteres

In [ ]:
palabra[1:6:2]  # solicitamos nos de el caracter desde 1 a 5, llama al indice 1=y, luego suma 2=valor de paso a indice1, nos da 3=h, a indice3 sumamos 2valor de paso y nos da indice 5

'yhn'

Metodos de cadena de caracteres, operaciones comunes que vienen implementadas en Python. <cadena>.<método>(<valores>), de no requerir valor ()

In [ ]:
palabra2 ="python"
palabra2.capitalize()  #capitalize hace una copia de palabra2 con el primer caracter en mayuscula

'Python'

Otros métodos find - index - isalnum - isalpha - isdecimal - isdigit - islower - isupper - lower - upper

In [ ]:
palabra.lower() # lower nos devuelve toda la cadena en minúscula

'python'

In [ ]:
palabra.upper() # upper nos devuelve toda la cadena en mayúscula

'PYTHON'

In [ ]:
palabra.isalnum() #nos dice si la cdena es alfanumérico

True

In [ ]:
palabra.isdecimal() # nos dice True or Falce si la cadena de caracteres es bool en este caso es stn

False

In [ ]:
palabra.isdigit() #nos miestra True or False

False

In [ ]:
palabra.lower() #trae una copia de la variable python que fue modificada anteriormente

'python'

Recibiendo Datos del Usuario / 
función input(), permite solicitar ingresar datos al usuario, normalmente se asigna un valor a esa variable que el usuario ingresa con la siguiente sintaxi <var> = input(<mensaje>), la función input() siempre retorna una cadena de caracteres, independientemente de la variable que se está ingresando, para poder trabajar se debe convertir ese dato.

In [ ]:
num1 =input("Ingrese un número: ")  #solicitamos al usuario un valor
print(num1)                         #con print mostramos la variable ingresada por el usuario

Ingrese un número: 5
5

In [ ]:
type(num1)  # type, nos muestra el tipo de valor de la cadena ingresada, a pesar de ser número lo ingresa como str

str

Para mejorar el código, se asigna a la variable el tipo de vato que necesitamos ej. num1 = int(input("Ingrese valor: ")

In [ ]:
num2 =int(input("Ingrese un número: "))  #solicitamos al usuario un valor, tranformamos de inmediato a int= entero
print(num2)

Ingrese un número: 5
5

In [ ]:
type (num2)   # ahora al solicitar ver tipo de dato, nos muestra entero int

int

Operadores:
Son símbolos que denotan una operación en el programa, simbolos que usaremos
Operandos son los valores con los cuales vamos a ejecutar la operación
Operador + Operando = Expresión 
Expresión es una combinación de valores, variables y operadores que al ser evaluados resultan en un valor. ej. al sumar 2 números resulta un valor, al hablar de una expresión se dice que se evalúa una expresión para obtener un valor, se evalúa de izquierda a derecha, como en matemáticas.
Operadores: Aritméticos- Lógicos- De asignación- Relacionales

Operadores Aritmeticos: Suma-resta-multiplicación-División-División entera- Exponente y módulo

In [ ]:
5+6   # Suma,  el conjunto de operadores y comandos suma, se evalúa y se obtiene resultado 11

11

In [ ]:
"Hola"+" "+"Mundo" # en el caso de stn Concatena, une las cadenas de caracteres para formar una sola

'Hola Mundo'

In [ ]:
4-8    # la respa nos puede resultar negativo

-4

In [ ]:
3.4-5.6    # podemos usar valores en coma plotante

-2.1999999999999997

In [ ]:
12/6    # en el caso de la división siempre retorna un número de coma flotante

2.0

Al dividir por 0 no está definida, nos devuelve error
para obtener un valor entero en una división, se coloca 15//5 y obtenermos un valor entero, el operador trunca los decimanes, sólo muestra la parte entera del resultado, no aproxima

In [ ]:
5.6/3.4    # en esta división el resultado tiene muchos decimales

1.6470588235294117

In [ ]:
5.6//3.4  # en la misma división con // para obtener entero corta los decimales y muestra el valor 1.0

1.0

La división entera o // Floor division

Busqueda binaria
Algoritmo, es una secuencia de pasos para resolver un problema

Otro operador es exponente  **

In [ ]:
5**3    # 5 elevado a 3

125

In [ ]:
16**(1/2)   # obtenemos la raíz cuadrada de un número al elevarlo a 1/2

4.0

In [ ]:
5**0    #cualquier número elevado a 0 es 1

1

Operador Módulo (%) retorna el resto de la división
comunmente utilizado para verificar si un número es par o impar.
permite ver cual es el resto de la división entre 2

In [ ]:
5%2  # el resultado es 1 por lo tanto es impar

1

In [ ]:
16%4 # resultado es par 0

0

In [ ]:
18%4    #18 módulo 4 es dos

2

Orden de las operaciones es PEMDAS P(parentesis)E(exponentes)M(multiplicación) D(división) A(addtion) S (subtraction)
1. perénteisi tendrán prioridad
2.Exponentes, 
3.Multiplicción
4.División
5.Suma
6.Resta
Las operaciones se evaluan de izquierda a derecha

Operadores Lógicos
nos permiten trabajar con valores booleanos (True y False) and, or, not
and= evalúa si el operando izquierdo y el derecho son verdaderos, si ambas expresiones son verdaderas nos devuelve True ej.

In [ ]:
(5<6) and (6>8)  #compara si ambas expresiones son verdaderas o falsa, ambas se deben cumplir para ser verdaderas

False

Operador OR
Si cualquiera de los operandos es verdadero, el resultado es verdadero

In [1]:
(5<6) or (6>8)  # en este caso con el operador or ahora obtenemos el resultado True, porque uno d elos resultados es verdadeto

True

Operador not, este operador niega la expresión, osea cuando la expresión es True, el operador not la niega y devuelve False
Prioridad
not
and
or
de existeir varior operadores con la misma prioridad, se lee de izquierda a derecha

In [2]:
not (5<6) # ejemplo de operador not, en este caso 5 es menor que 6 el resultado es True, al usar not antes, cambia el resultado a False

False

Operadores Relacionales
Son utilizados para comparar valores y retornan un valor booleano True o False
<,>,==,>=,>=,!=,

In [3]:
"Hola"=="Hola" # == indica igualdad, ejem. compara cadena de caracteres, en este caso es True

True

In [4]:
"Hola"=="ola"   # en este caso las cadenas son disteintas es False

False

Otros Operadores:  =, +=, -=, /=, **=, //=, %=
Cuando se agrega un signo igual, se combierte en un operador de asignación ejm.

In [10]:
edad=56     #a edad asignamos el valor 56, luego
edad += 3   # a edad aplicamos el operador += estamos indicando que a edad sume y nos entreguie el resultado de +3
edad         # ahora llamanos a edad y nos entrega el valor actual

59

In [11]:
edad -= 2  # con la nueva asignación de edad, ahora aplico el operador -= 2, y restará 2 a edad
edad

57

In [33]:
num = 6  # otro ejemplo, al asignar num 6 
num %= 2  # ahora aplicamos operador %= 2,a la variable num se asigna modulo= 2, divide 6 en 2 y retorna 0, al llamr a num devuelve 0 el resto 
num

0

Sentencias Condicionales  (estructura de programación)
Una sentencia condicional, es un grupo de instrucciones cuya ejecución depende del valor de una codición boolena
Una condición tiene dos resultados, verdadera o falsa, tiene dos caminos a seguir
su sintaxi es: 
if <condición>:
   # código
es importante, que luego de la condición escriba ":", ya que de no tenerlo, nos entregará error, es importante que el  código esté indentado (4 espacios), para que el programa comprenda que debe operar dentro del condicional if, de lo contrario lo toma como parte del programa ejm.

In [34]:
temp = 15          #se define la variable temp = 15, luego indicamos que 
if temp < 25:      # de ser temp < a 25, nos devuelva Frío
  print ("Frío")   # que nos muestre Frío, muestra resultado siempre que la condición sea True

Frío

"else", es equivalente a sino, nos indica si la condición de verdadera haga esto, sino, o es False, haga esto otro, su sintaxi es
if <condición>:    se escribe sion espacio, es parte del sódigo principal
    # código   se escribe identa
else:
    # código

In [36]:
temp = 35                 #se asigna a la variable temp 15, 
if temp < 25:             #  si temp es < a 25 entonces
    print ("Frío")        # vevuelva Fío
else:                      # de lo contrario, si la variable no es menor a 25, ENTONCES else siga este camino
    print ("Calor")        # si la condición es False, diga Calor, se cambia el valor de temp, para comprobar

Calor

Clausula elif, nos permite ejecutar un código si la condición es verdadera y luego de ser ambas condiciones falsas se usa else, nos permite usar mas condiciones ej

In [40]:
temp = 20                 #la variable temp es 0
if temp <= 0:            #primera condicional compararla con 0, 
    print ("Muy Frío")   # de ser True nos da Muy Frío, de ser False, nos lleva a elif
elif temp < 25:          # en elif nos pregunta nuevamente, de ser True, 
    print ("Frío")       # se ejecuta y nos entrega Frío, de ser False, nos lleva a:
else:                    # al ser False, no se ejecutaron las anteriores y se ejecuta else
    print ("Calor")      # nos devuelve Calor, para comprobar se cambia el valor a temp

Frío

Para multiples condiciones se puede usar else, pero sólo se puede usar 12 vez en el código, siempre else es la última.
se inicia con if, luego puede haber varios elif y al final usar 1 sólo else

Comentarios: textos que se escriben en el prigrama, para facilitar su comprención, no son parte del código, describe la lógica, se puede iniciar con: # inicia en la línea, no se comenta en exceso

Listas: son un tipo de estructura de datos utilizada para almacenar multiples valores en secuencia. [1, 2, 3, 4] puede contener de cualquier tipo de datos y está entre [] es específico para las listas, cada elemento se separa con , y espacio
Las listas deben ser ordenadas el primer elemento está en el indice 0, luego en indice 1
- lista es una secuencia ordenada de valores
- puede contener calores de cualquier tipo
-puede contener valores de distintos tipos
-Es mutable, osea puede ser modificada

Acceder a un elemento
para acceder a un elemento de la lista debemos llamar a su indice su sintaxi es <lista>[<índice>], nos retorna el elemento de ese indice

In [1]:
letras = ["a", "b", "c", "d"]  #definición de lista letras
letras [0]                     # llamamos al indice 0 de la lista letras, y nos devuelve el indice 0

'a'

In [2]:
letras [2]                     #llamamos al indice 2, nos devuelve c

'c'

Agregar un elemento a una lista, ya que son mutables
se puede agregar al final de la lista y entre ella
con el método append su sintaxi es <liata>.append (<elem>)

In [3]:
nums = [1, 2, 3, 4]   # lista creada
nums.append(5)        # con append se agrega al final el 5
nums

[1, 2, 3, 4, 5]

Para insertar un elemento a la lista en un orden específico, se usa el método insert, su sintaxi es <lista>.insert (<índice>, <elem>)

In [4]:
nums = [1, 2, 3, 4, 5] 
nums.insert(0,6)          # insert, agregará un elemento a la lista, el primer valor es 0, agregará el 6 al inicio
nums

[6, 1, 2, 3, 4, 5]

In [5]:
nums = [1, 2, 3, 4, 5] 
nums.insert(3,6)          # insert, agregará en el indice 3 el elemento 6
nums

[1, 2, 3, 6, 4, 5]

Eliminar elementos de una lista con
remove, su sintaxi es <lista>.remove(<elem>) nos permite eliminar la primera repetición de una lista. no se puede remove un valor que no está en una lista

In [6]:
a = [1, 2, 3, 4, 5, 4]   #la lista tiene el elemento 4 repetido 
a.remove(4)              # con remove se elimina el primer elemento repetido, la primera ocurrencia de 4
a

[1, 2, 3, 5, 4]

Buscar un elemento en una lista con el operador 
in su sintaxi es <elem> in <lista>, si el resultado está en la lista el resultado es True

In [7]:
vocales = ["a", "e", "i", "o", "u"]
"a" in vocales

True

In [8]:
vocales = ["a", "e", "i", "o", "u"]
"z" in vocales

False

index
Método:  los métodos tienen la siguiente sintaxi <lista>.<método>(<parametros>) 
.index (<elem>), Retorna el índice de la primera ocurrencia del elemneto en la lisrta. Si no se encuentra ocurre error su sintaxi es <lista>.index (<elem>)

In [9]:
vocales = ["a", "e", "i", "o", "u"]
vocales.index ("i")                  #llama al elemento,retorna el indíce (de i), de no estar un elemnto en la lista trae error

2

**Cambiar un elemento**
en un índice espesífico, con la siguiente sintaxi <lista>[<índice>] = <nuevo_valor>

In [10]:
nums = [1, 2, 3, 4, 5]
nums[0] = -8             # cambiamos 1 por -8, se actualiza el valor en la lista, ya que las listas son mutables
nums

[-8, 2, 3, 4, 5]

Métodos de lista
operaciones comunes de listas que ya están implementadas en Python sintaxi
 <lista>.<método>(<parámetros>)
.count(<elem>)  cuenta cuantas veces se repite un elemnto en la lista
.extend(<lista>) extiende la lista pegando los elementos de otra lista
.pop()         elimina y retorna un elemento a la lista
.reverse()      reversa el orden actual de la lista
.sort()         ordena la lista ascendente o descendente

In [15]:
a = [3, 4, 5, 6]   # declara la lista
a.pop()            # pop() elimina un valor, al estar () vacio, alimina el último valor de la lista
a.reverse()         # reverse coloca l la lista al revés
a.extend([8, 9, 0]) # estend agrega los valores indicados al final de la lista
a                   # traemos la lista a

[5, 4, 3, 8, 9, 0]

**Tuplas** o Tuples: es una estructura de datos **inmutables**, que contienen una secuencia **ordenada** de elementos, ejem. (1, 2, 3, 4), están entre ()
-secuencia ordenada de valores
-puede ocntener cualquier tipo de datos, tuplas, listas, etc
-cada tupla se identifica con un índice
-Son **inmutables** no pueden cambiar, es por ello que se elige usar tuplas en lugar de listas

**Se puede hacer** en una tupla, igual a una lista:
buscar un elemento

In [18]:
letras = ("A", "B", "C")
letras [0]                # llamando al indice 0 muestra el elemento  <nomb> [indice]

'A'

Encontrar un elemento con in igual a las listas

In [19]:
letras = ("A", "B", "C")
"A" in letras            #encontró el elemento en letras, retorna True

True

Principales operaciones de Tuplas
.index igual que en listas <tupla>.index(<elem>)

In [20]:
letras = ("A", "B", "C")
letras.index("B")         #encuentra el indice del elemento "B" y lo entrega, de no estar el elemento da error

1

count(), muestra las ocurrencias del elemento en la tupla

In [21]:
nums = (1, 2, 3, 4, 5, 6, 7, 4, 4)
nums.count(4)                      #retorna las ocurrencias de un elemento

3

**Diccionarios** otra estructura de datos **mutables**
permire relacionar dos valores en la misma estructura de datos
colección de pares clave-valor.
está definido por {}, y cada elemento tiene una clave-valor
{"A":45, "B":30} cada uno de los pares se denomina clave-valor
clave A valor 30 separado por : este indica que la clave A tiene su valor 30
**Características**
- colección pares-valor
- **las claves** son *únicas e inmutables*
- los valores asociados pueden ser de cualquier tipo
- la clave se usa para acceder a su valor asociado
-los pares clave-valor, se pueden modificar, añadir y eliminar

sintaxis <diccionario>[<clave>]

In [23]:
edades = {"Gino":15, "Nora":45}
edades["Gino"]                  #llama a clave Gino y retorna su valor 15

15

In [24]:
edades = {"Gino":15, "Nora":45}
edades.get("Gino")               # get=obtener también devuelve el valor de la clave

15

Añadir y modificar  con
 <diccionario>[<clave>] = <nuevo:valor>

In [25]:
edades = {"Gino":15, "Nora":45}
edades["Talina"] = 67            # agrega al diccionario clave Talina con valor 67 
edades                            # retorna diccionario de ya existir, reemplazara el valor de la clave

{'Gino': 15, 'Nora': 45, 'Talina': 67}

In [26]:
edades = {"Gino":15, "Nora":45}
edades["Gino"]=17                # la clave Gino existe, el diccionario es mutable, ahora la clave Gino tiene valor 17
edades

{'Gino': 17, 'Nora': 45}

Remover, del = delete
del<dicc>[<clace>]

In [27]:
edades = {"Gino":15, "Nora":45}
del edades["Gino"]                 # del removerá la clave Gino
edades                             # retorna el diccionario modificado

{'Nora': 45}

Revisar la existencia de un elemento en el diccionario
in  <elem> in <dicc>, el elem será la clave

In [28]:
edades = {"Gino":15, "Nora":45}
"Gino" in edades                 #verifica la existencia de clave Gino, retorna True

True

In [29]:
edades = {"Gino":15, "Nora":45}
"Emily" in edades

False

Documanteción
ir a www.python.org

Ciclos for
ciclos o bucles
Es una estructura de control nos permite **ejecutar** una o varias líneas de código **múltiples veces**.

Ciclo for, lo usamos cuando sabemos con antelación *cuantas veces* devemos repetir *ciertas instrucciones*
Iteración; es una repetición de cierto grupo de instrucciones
la ejecución del proceso se ejecuta hasta que la condición True, sea False, range define las iteraciones o veces del ciclo
for <var> in range (<inicio>, <fin>:
      # código

var variable de control
-Variable que puede ser utilizada en el código que se va a repetir
-Se actualiza automáticamente antes de cada interación
-Debe tener un nombre descriptivo

Range, esta función retorna una secuencia de valores, números enteros
range(4), retorna desde 0 a 4, ya que no se indica un inicio
el valor de la variable i se actualiza en cada iteración, toma el valor 0,1,2,3 ya que el proceso llega hasta el 4 y desde 0 a 3 hay 4 elementos

range (start, stop[, step]) puede tomar los siguientes valores
start el valor donde comienza, o 0 si no se utiliza
stop el valor de finalización y opcionalmente
step, indica los elementos a sumar para pasar a otro, si no se usa es 1 pasa de uno en uno

In [30]:
for i in range(4):   # el ciclo se llama i y se ejecuta hasta el rango asignado 4 
  print(i)           # retorna los valores del ciclo llamado i, que se ejecta hasta llegar al rango asignado 4

0
1
2
3

Ciclos sobre Iterables
retorna sus elementos uno a la vez, como range
los iterables son
- Listas
- Tuplas
- Diccionarios
- Otros...conjuntos, archivos, etc
for <var> in <iterable>:
      # códigos

In [32]:
for num in [1, 2, 3]:
    print(num)

1
2
3

In [33]:
for num in (1, 2, 3):    # funciona igual en una tupla
    print(num)

1
2
3

Para buscar los valores del diccionario se usa values

In [31]:
for char in "Loops":        #char es una abreviatura de caracter, character
    print(char)

L
o
o
p
s

**Sobre diccionarios**

In [40]:
letras = {"a":1, "b":2}
for clave in letras:         #para iterar sobre las claves, el for recorre las claves del diccionarios
    print(clave)

a
b

In [41]:
letras = {"a":1, "b":2}
for valor in letras.values():  #para iterar s/valores, for recorre los valores del dicc define valor sobre letras.values
    print(valor)

1
2

para clave-valor  .items

In [42]:
for clave,valor in letras.items():   #para traer clave-valor usar items, recorre y trae ambos componentes
    print(clave,valor)               # trae clave,valor encontrados en todo el recorrido

a 1
b 2

Ciclos While (mientras)
el ciclo continpua mientras la condición es verdadera, y se detiene cuando es falsa, que la condición se convierta en falsa se define en el código
si el ciclo es infinito se detiene manualmente
while <condición>: # código el código debe estar indentado 4espacios

whikle palabra clave

While no tiene un número fijo o predeterminado de iteraciones
se ejecuta hasta que la condición es falsa