<a href="https://colab.research.google.com/github/ClaudiaGonzalezScanu/aprendiendo_python/blob/main/Ejercicios_23_11_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Repaso desde Hola Mundo

In [1]:
print("¡Hola Mundo!")

¡Hola Mundo!

Variables: es un nombre que se agigna un valor en el programa, es un espacio en memoria, se alojará o guardará un valor específico. Luego podremos llamar a la variable y usar el o los valores que guardamos en ese nombre. ej. num = 5, el nombre de la variables es num, y ese nombre se usará para usar el valor 5. 
Primero se define la variable dando el nombre, en este caso num

In [12]:
num = 3
num             #se comprueba qe el valor existe en memoria, se escribe num el nombre de la variable y nos retorna el valor de la variable

3

In [10]:
 num+2         # nombramos la variable y sumamos 2, nos retorna la suma el valor 3+2=5

5

In [24]:
num =15          #ahora cambiamos el valor de num, modificamos a valor 15
num

15

In [25]:
num-5             # a num restamos 5 nos retorna el resultado 15-5=10

10

El nombre de la variables no pueden comenzar con un número, nos mostrará error de sintaxis "SyntaxError", las variables sólo pueden contener caracteres alfanuméricos de (A-Z, a-z, 0-9, _), no puede contener otro caracter.Se distingue entre mayuscula y monuscula, por lo tanto, al llamar una variable, se debe hacer de la mismo forma como fue definida.

Tipos de Datos
numéricos /entero, no posee decimales, positivos, negativos y 0
La función type() nos dirá que tipo de valor es.
Int es Integer=entero
decimales, al usar type() nos dira Float=Flotante float es decimal, cualquier valor que usa ,
valores booleanos True=vardadero o False=falso los valores booleanos son importantes para ciclos o Bucles
True False son Key words palabras clave
class bool

Cadenas de caracteres o String, son una secuencia de caracteres encerrados entre "" y usados para representar texto en el programa.
Ej. "Hola Mundo" es una cadena de caracteres.
    "Python" las "" pueden ser comillas simples, al psar type nos mostrara class str, la abreviación de string

In [29]:
nombre ="Claudia"
type(nombre)

str

Tamaño o Length, la función len() nos retornrá el valor de su tamaño

In [30]:
len(nombre) # nos entregará la longitud de la cadena nombre=Claudia, tiene 7 caracteres.

7

Indice, en una cadena se comiena a numerar desde 0,1,2....ej."Python" comienza P=0, y=1,t=2,h=3,o=4,n=5 Python tiene indice de 0 a 5

Indexacion nombre de la cadena[]

In [32]:
palabra = "Python"
palabra[0]             #llamamos al indice 0 nos devuelve el primer caracter de la cadena

'P'

In [33]:
palabra[1] #llamamos al indice 1 nos devuelve y

'y'

In [34]:
palabra[6]  #nos muestra error ya que no existe el indice 6 en la palabra Python

IndexError: ignored

Rebanado en ingles Slicing, vamos a tomar una porción de la cadena de caracteres, ej. "Python" «cadena»[inicio:fin] el último caracter no estará incluido en el caracter incluido, se detiene un indice anterior.

In [35]:
palabra[1:4]   # solicitamos los indices 1 a 3 de palabra "Python" nos devuelve 1=y,2=t,3=h

'yth'

el rebanado siembre va entre [], al no escribir el valor al inicio o al fin, toma los caracteres ya sea desde el inicio o el final, dependiendo cual falta

In [37]:
palabra[:3]  #rebanado omitiendo el indice inicio

'Pyt'

Rebanado con paso, «cadena»[inicio:fin:paso] con paso podemos saltar algunos caracteres

In [38]:
palabra[1:6:2]  # solicitamos nos de el caracter desde 1 a 5, llama al indice 1=y, luego suma 2=valor de paso a indice1, nos da 3=h, a indice3 sumamos 2valor de paso y nos da indice 5

'yhn'

Metodos de cadena de caracteres, operaciones comunes que vienen implementadas en Python. <cadena>.<método>(<valores>), de no requerir valor ()

In [39]:
palabra2 ="python"
palabra2.capitalize()  #capitalize hace una copia de palabra2 con el primer caracter en mayuscula

'Python'

Otros métodos find - index - isalnum - isalpha - isdecimal - isdigit - islower - isupper - lower - upper

In [41]:
palabra.lower() # lower nos devuelve toda la cadena en minúscula

'python'

In [42]:
palabra.upper() # upper nos devuelve toda la cadena en mayúscula

'PYTHON'

In [45]:
palabra.isalnum() #nos dice si la cdena es alfanumérico

True

In [46]:
palabra.isdecimal() # nos dice True or Falce si la cadena de caracteres es bool en este caso es stn

False

In [47]:
palabra.isdigit() #nos miestra True or False

False

In [48]:
palabra.lower() #trae una copia de la variable python que fue modificada anteriormente

'python'

Recibiendo Datos del Usuario / 
función input(), permite solicitar ingresar datos al usuario, normalmente se asigna un valor a esa variable que el usuario ingresa con la siguiente sintaxi <var> = input(<mensaje>), la función input() siempre retorna una cadena de caracteres, independientemente de la variable que se está ingresando, para poder trabajar se debe convertir ese dato.

In [49]:
num1 =input("Ingrese un número: ")  #solicitamos al usuario un valor
print(num1)                         #con print mostramos la variable ingresada por el usuario

Ingrese un número: 5
5

In [50]:
type(num1)  # type, nos muestra el tipo de valor de la cadena ingresada, a pesar de ser número lo ingresa como str

str

Para mejorar el código, se asigna a la variable el tipo de vato que necesitamos ej. num1 = int(input("Ingrese valor: ")

In [51]:
num2 =int(input("Ingrese un número: "))  #solicitamos al usuario un valor, tranformamos de inmediato a int= entero
print(num2)

Ingrese un número: 5
5

In [52]:
type (num2)   # ahora al solicitar ver tipo de dato, nos muestra entero int

int

Operadores:
Son símbolos que denotan una operación en el programa, simbolos que usaremos
Operandos son los valores con los cuales vamos a ejecutar la operación
Operador + Operando = Expresión 
Expresión es una combinación de valores, variables y operadores que al ser evaluados resultan en un valor. ej. al sumar 2 números resulta un valor, al hablar de una expresión se dice que se evalúa una expresión para obtener un valor, se evalúa de izquierda a derecha, como en matemáticas.
Operadores: Aritméticos- Lógicos- De asignación- Relacionales

Operadores Aritmeticos: Suma-resta-multiplicación-División-División entera- Exponente y módulo

In [53]:
5+6   # Suma,  el conjunto de operadores y comandos suma, se evalúa y se obtiene resultado 11

11

In [55]:
"Hola"+" "+"Mundo" # en el caso de stn Concatena, une las cadenas de caracteres para formar una sola

'Hola Mundo'

In [56]:
4-8    # la respa nos puede resultar negativo

-4

In [57]:
3.4-5.6    # podemos usar valores en coma plotante

-2.1999999999999997

In [59]:
12/6    # en el caso de la división siempre retorna un número de coma flotante

2.0

Al dividir por 0 no está definida, nos devuelve error
para obtener un valor entero en una división, se coloca 15//5 y obtenermos un valor entero, el operador trunca los decimanes, sólo muestra la parte entera del resultado, no aproxima

In [60]:
5.6/3.4    # en esta división el resultado tiene muchos decimales

1.6470588235294117

In [61]:
5.6//3.4  # en la misma división con // para obtener entero corta los decimales y muestra el valor 1.0

1.0

La división entera o // Floor division

Busqueda binaria
Algoritmo, es una secuencia de pasos para resolver un problema

Otro operador es exponente  **

In [62]:
5**3    # 5 elevado a 3

125

In [63]:
16**(1/2)   # obtenemos la raíz cuadrada de un número al elevarlo a 1/2

4.0

In [64]:
5**0    #cualquier número elevado a 0 es 1

1

Operador Módulo (%) retorna el resto de la división
comunmente utilizado para verificar si un número es par o impar.
permite ver cual es el resto de la división entre 2

In [65]:
5%2  # el resultado es 1 por lo tanto es impar

1

In [68]:
16%4 # resultado es par 0

0

In [69]:
18%4    #18 módulo 4 es dos

2

Orden de las operaciones es PEMDAS P(parentesis)E(exponentes)M(multiplicación) D(división) A(addtion) S (subtraction)
1. perénteisi tendrán prioridad
2.Exponentes, 
3.Multiplicción
4.División
5.Suma
6.Resta
Las operaciones se evaluan de izquierda a derecha

operadores lógicos
nos permiten trabajar con valores booleanos (True y False) and, or, not
and= evalúa si el operando izquierdo y el derecho son verdaderos, si ambas expresiones son verdaderas nos devuelve True ej.

In [70]:
(5<6) and (6>8)  #compara si ambas expresiones son verdaderas o falsa, ambas se deben cumplir para ser verdaderas

False

quedé en video minuto 1:26