<a href="https://colab.research.google.com/github/ClaudiaGonzalezScanu/aprendiendo_python/blob/main/Guardar_Archivos_18_11_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%%writefile texto.txt
esta es una prueba de creación de archivos
segunda linea
otra linea

Overwriting texto.txt

Listar el directorio de trabajo:

In [ ]:
!ls

sample_data  texto.txt

Abrir un archivo de texto, por omisión se abre en modo de lectura (read o "r"):

In [ ]:
myfile=open("texto.txt","r")
myfile

Leer el contenido de un archivo, previamente abierto en modo de lectura:

In [ ]:
myfile.seek(0)
content=myfile.read()
print(content)

esta es una prueba de creación de archivos
segunda linea
otra linea

Después de operar con un archivo, siempre es recomendable cerrar el archivo:

In [ ]:
myfile.close()

Leer un archivo línea por línea:

In [ ]:
myfile=open("texto.txt")
mylines=myfile.readlines()
for line in mylines:
  print(line)

esta es una prueba de creación de archivos

segunda linea

otra linea

Tal como es posible abrir un archivo para lectura,  podemos abrirlo para escritura (write o "w") o bien para agregar información en el (append o "a"):

In [ ]:
myfile=open("texto.txt","a+")
myfile.read()
myfile.write("\n"+"qq qqq qqqqqqqqqqq")
myfile.seek(0)
myfile.read()
myfile.close()

In [ ]:
myfile=open("texto.txt")
myfile.seek(0)
content=myfile.read()
print(content)

esta es una prueba de creación de archivos
segunda linea
otra linea
xxxxx xxxxx xxxxx
qq qqq qqqqqqqqqqq

In [ ]:
myfile=open("base.txt","w+")
while True:
  nombre=input("Ingrese nombre: ")
  if nombre != "*":
    puntaje=input("Ingrese puntaje: ")
    cadena=nombre+","+puntaje+"\n"
    myfile.write(cadena)
  else:
    break
myfile.close()

Ingrese nombre: Marta
Ingrese puntaje: 4.5
Ingrese nombre: Sandra
Ingrese puntaje: 5.6
Ingrese nombre: Carla
Ingrese puntaje: 4.9
Ingrese nombre: Claudia
Ingrese puntaje: 7.5
Ingrese nombre: Juan
Ingrese puntaje: 5.9
Ingrese nombre: Katherina
Ingrese puntaje: 8.2
Ingrese nombre: Jaime
Ingrese puntaje: 7.2
Ingrese nombre: *

In [ ]:
myfile=open("base.txt")
myfile.seek(0)
content=myfile.read()
print(content)

Marta,4.5
Sandra,5.6
Carla,4.9
Claudia,7.5
Juan,5.9
Katherina,8.2
Jaime,7.2

In [ ]:
import pandas as pd
df=pd.read_csv("base.txt",header=None)
df

           0    1
0      Marta  4.5
1     Sandra  5.6
2      Carla  4.9
3    Claudia  7.5
4       Juan  5.9
5  Katherina  8.2
6      Jaime  7.2

Podemos cambiar los nombres de las columnas de un DataFrame, usando el método **rename**:

In [ ]:
df.rename(columns={0:"Nombre",1:"Puntaje"},inplace=True)
df

      Nombre  Puntaje
0      Marta      4.5
1     Sandra      5.6
2      Carla      4.9
3    Claudia      7.5
4       Juan      5.9
5  Katherina      8.2
6      Jaime      7.2

In [ ]:
df.describe()

        Puntaje
count  7.000000
mean   6.257143
std    1.396253
min    4.500000
25%    5.250000
50%    5.900000
75%    7.350000
max    8.200000